version: '3.8'

services:
  # --- TES SERVICES (Téléchargés depuis Docker Hub) ---
  producer:
    image: nexir0s/monitoring-producer:latest
    container_name: monitoring-producer
    environment:
      - KAFKA_BROKER=kafka:9092
    depends_on:
      - kafka

  consumer:
    image: nexir0s/monitoring-consumer:latest
    container_name: monitoring-consumer
    environment:
      - KAFKA_BROKER=kafka:9092
      - INFLUXDB_URL=http://influxdb:8086
      - INFLUXDB_TOKEN=my-super-secret-auth-token
      - INFLUXDB_ORG=my-org
      - INFLUXDB_BUCKET=my-bucket
    depends_on:
      - kafka
      - influxdb

  api:
    image: nexir0s/monitoring-api:latest
    container_name: monitoring-api
    ports:
      - "8080:8080"
    environment:
      - INFLUXDB_URL=http://influxdb:8086
      - INFLUXDB_TOKEN=my-super-secret-auth-token
      - INFLUXDB_ORG=my-org
      - INFLUXDB_BUCKET=my-bucket
    depends_on:
      - influxdb

  # --- INFRASTRUCTURE (Images officielles) ---
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: kafka
    ports:
      - "9092:9092"
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  influxdb:
    image: influxdb:2.7
    container_name: influxdb
    ports:
      - "8086:8086"
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=password123
      - DOCKER_INFLUXDB_INIT_ORG=my-org
      - DOCKER_INFLUXDB_INIT_BUCKET=my-bucket
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=my-super-secret-auth-token