version: '3.8'

services:
  # --- 1. ZOOKEEPER ---
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  # --- 2. KAFKA ---
  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    healthcheck:
      test: ["CMD", "kafka-broker-api-versions", "--bootstrap-server", "localhost:29092"]
      interval: 5s
      timeout: 10s
      retries: 5
      start_period: 15s

  # --- 3. PRODUCER (Ton app actuelle) ---
  producer:
    image: nexir0s/monitoring-app:latest
    container_name: monitoring-producer
    depends_on:
      kafka:
        condition: service_healthy
    restart: on-failure

  # --- 4. CONSUMER (Nouvelle app) ---
  consumer:
    image: nexir0s/monitoring-consumer:latest
    container_name: monitoring-consumer
    depends_on:
      kafka:
        condition: service_healthy
    restart: on-failure
